:root {
  --pink: #bb99dd;
}

body {
  font-family: "Poppins", sans-serif;
}

.border-success {
  border-color: var(--pink) !important;
}

.name,
.icon {
  color: var(--pink);
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--pink);
  --bs-btn-border-color: var(--pink);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--pink);
  --bs-btn-hover-border-color: var(--pink);
  --bs-btn-focus-shadow-rgb: var(--pink-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--pink);
  --bs-btn-active-border-color: var(--pink);
}
