:root {
    --pink: #BB99DD;
}

body {
    font-family: 'Poppins', sans-serif;
}

.border-success {
    border-color: #BB99DD !important;
}

.name {
    font-size: 1.25rem;
    color: #BB99DD;
}

.btn {
    font-size: 1.5rem;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #BB99DD;
    /* --bs-btn-bg: var(--pink); */
    --bs-btn-border-color: var(--pink);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #BB99DD;
    --bs-btn-hover-border-color: #BB99DD;
    --bs-btn-focus-shadow-rgb: var(--pink-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #BB99DD;
    --bs-btn-active-border-color: #BB99DD;
}

.icon {
    font-size: 2rem;
    color: #BB99DD;
}



